<ap-listarticle stagger-apparition="" class="article-type-2 ap-listarticle ap-listarticle--section ap-listarticle--collage hd-pocket ap-object-loaded">

    <div class="ap-listarticle__secondary-list grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %}grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}">
        {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
        {% if forloop.index > 1 %}
        <div reveal="" class="article-item article-item--horizontal image-zoom">
            <div class="article-card__image">
                <a href="{{ article.url }}" class="article-item__image-container">
                    <img srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                        src="{{ article.image.src | image_url: width: 533 }}"
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                        alt="{{ article.image.src.alt | escape }}" class="article-item__image"
                        loading="lazy" width="{{ article.image.width }}"
                        height="{{ article.image.height }}">
                        {%- if section.settings.show_date -%}
                        <span class="blog_date">
                            <span class="blog_date-day">{{ article.published_at | date: "%d" }}</span>
                            <span class="blog_date-month">{{ article.published_at | date: "%b" }}</span>
                        </span>
                    {%- endif -%}
                    {% comment %} <span
                        class="article-item__arrow ap-nextap-buttonprev ap-nextap-buttonprev--small ap-nextap-buttonprev--next">
                        <svg focusable="false" width="15" height="12"
                            class="icon icon--nav-arrow-right  icon--direction-aware "
                            viewBox="0 0 17 14">
                            <path d="M0 7h15M9 1l6 6-6 6" stroke="currentColor" stroke-width="2"
                                fill="none"></path>
                        </svg>
                    </span> {% endcomment %}
                </a>

            </div>
            <div class="article-item__content text-container" style="padding:0 2rem">

                <div class="article">

                {%- if section.settings.show_tag -%}
                {%- if article.tags.size > 0 -%}
                {% assign tag = article.tags[0] %}
                <a class="article-item__category"
                    href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                {%- endif -%}
                {%- endif -%}
                {%- if section.settings.show_author -%}
                    <span class="blog-author">By {{ article.author }}</span>
                {%- endif -%}
                                        
                </div>

                <h3 class="article-item__title heading h5">
                    <a href="{{ article.url }}">{{ article.title | escape }}</a>
                </h3>
                {%- if section.settings.show_desc-%}
                    <div class="article-item-description">{{ article.content }}</div>
                {%- endif -%}
                {% if section.settings.btn_blog != blank %}
                <a class="btn-blog" href="{{ article.url }}">
                    {{ section.settings.btn_blog }}
                    <span class="button-withicon">{%- render 'icon-arrow' -%}</span>
                </a>
                {% endif %}

            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
</ap-listarticle>