{% assign show_secondary_image = true %}
<product-item class="product-item " reveal="" style="opacity: 1;" id="product-item-{{ product.id }}">
    <div class="product-item-wrapper">
        <span class="product-line"></span>
    
        <div class="product-item__image-wrapper product-item__image-wrapper--multiple">
            <div class="product-item__label-list label-list">
                {% if product.available == false %}
                    <span class="label label--subdued">{{ 'products.product.sold_out' | t }}</span>
                {% endif %}
                {% if settings.sale_label_enable %}
                    {% if product.compare_at_price > product.price and product.available %}
                        <span class="label label--highlight">{{ 'products.product.on_sale' | t }}</span>
                    {% endif %}
                {% endif %}
            </div>
            {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
            <a href="{{ product.url }}" class="product-item__aspect-ratio aspect-ratio " style="padding-bottom: 100.0%; --aspect-ratio: {{ settings.size_img }}">
                <img class="product-item__primary-image" loading="eager" data-media-id="{{ product.featured_media.id }}" 
                    sizes= "{{ sizes }}"
                    alt="{{ product.title }}" 
                    src="{{ product.featured_image | image_url: width: product.featured_media.width }}" 
                    srcset="
                        {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                    "
                    width="{{ product.featured_media.width }}" height="{{ product.featured_media.height }}">
                
                {% if product.media[1] != nil and show_secondary_image %}
                    <img class="product-item__secondary-image" loading="lazy" sizes="(max-width: 740px) 52vw, calc(min(100vw - 80px, 1520px) / 4 - 18px)" 
                        alt="{{ product.title }}" 
                        src="{{ product.media[1] | image_url: width: 800 }}" 
                        srcset="
                            {%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                            {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                            {{ product.media[1] | image_url }} {{ product.media[1].width }}w
                        "
                        width="{{ product.media[1].width }}" height="{{ product.media[1].height }}">
                {% else %}
                    <img class="product-item__secondary-image" loading="lazy" data-media-id="{{ product.featured_media.id }}" 
                        sizes= "{{ sizes }}"
                        alt="{{ product.title }}" 
                        src="{{ product.featured_image | image_url: width: product.featured_media.width }}" 
                        srcset="
                            {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                            {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                        "
                        width="{{ product.featured_media.width }}" height="{{ product.featured_media.height }}">
                {% endif %}
            </a>

            <div class="service-product">

                <div class="btn-service btn-addcart">
                    {%- if product.selected_or_first_available_variant.available -%}
                        <form method="post" action="/cart/add" id="product_form_{{ section.id }}__{{ product.id }}_0" accept-charset="UTF-8" class="product-item__quick-form" enctype="multipart/form-data" is="ap-productform">
                            <input type="hidden" name="form_type" value="product">
                            <input type="hidden" name="utf8" value="✓">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="id" value="{{ product.variants[0]['id'] }}">
                            <button is="loader-button" type="submit" class="button button--outline button--text button--full">
                            <span class="ap-text-loaderbutton">
                                {% render 'icon-addcart' %}
                                <span class="text-name">
                                    Add to cart
                                </span>
                            </span>
                            <span class="ap-loader-loaderbutton" hidden="">
                                <div class="spinner">
                                <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                                    <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                                </svg>
                                </div>
                            </span>
                            </button>
                            <button type="submit" class="product-item__quick-buy-button hd-no-touch">
                            <span class="visually-hidden">
                                {% render 'icon-addcart' %}
                                <span class="text-name">
                                    Add to cart
                                </span>
                            </span>
                            <svg focusable="false" width="22" height="21" class="icon icon--quick-buy   " fill="none" viewBox="0 0 22 21">
                                <path d="M12 4H3L2 20H18C17.7517 16.0273 17.375 10 17.375 10" stroke="currentColor" stroke-width="2"></path>
                                <path d="M7 7V7C7 8.65685 8.34315 10 10 10V10C11.6569 10 13 8.65685 13 7V7" stroke="currentColor" stroke-width="2"></path>
                                <path d="M18 0V8M14 4H22" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            </button>
                        </form>
                    {%- else -%}
                        <div class="sold-out">
                            {% render 'icon-addcart' %}
                        </div>
                    {%- endif -%}
                </div>
    
                <div class="btn-service btn-quickview">
                    <div class="product-item__quick-form">
                        <button is="toggle-button" loader="" ap-controlsaria="product-{{ section.id }}-{{ product.id }}-drawer" ap-expanded-aria="false" class="button button--outline button--text button--full">
                            <span class="ap-text-loaderbutton">
                                {% render 'icon-quickview' %}
                                <span class="text-name">
                                    Quick view
                                </span>
                            </span>
                            <span class="ap-loader-loaderbutton" hidden="">
                            <div class="spinner">
                                <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                                <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                                </svg>
                            </div>
                            </span>
                        </button>
                        <button is="toggle-button" ap-controlsaria="product-{{ section.id }}-{{ product.id }}-drawer" ap-expanded-aria="false" class="product-item__quick-buy-button hd-no-touch hd-phone">
                            <span class="visually-hidden">
                                {% render 'icon-quickview' %}
                                <span class="text-name">
                                    Quick view
                                </span>
                            </span>
                            <svg focusable="false" width="22" height="21" class="icon icon--quick-buy   " fill="none" viewBox="0 0 22 21">
                                <path d="M12 4H3L2 20H18C17.7517 16.0273 17.375 10 17.375 10" stroke="currentColor" stroke-width="2"></path>
                                <path d="M7 7V7C7 8.65685 8.34315 10 10 10V10C11.6569 10 13 8.65685 13 7V7" stroke="currentColor" stroke-width="2"></path>
                                <path d="M18 0V8M14 4H22" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                        </button>
        
                        <button is="toggle-button" ap-controlsaria="product-{{ section.id }}-{{ product.id }}-popover" ap-expanded-aria="false" class="product-item__quick-buy-button hd-tablet-and-up">
                            <span class="visually-hidden">
                                {% render 'icon-quickview' %}
                                <span class="text-name">
                                    Quick view
                                </span>
                            </span>
                            <svg focusable="false" width="22" height="21" class="icon icon--quick-buy   " fill="none" viewBox="0 0 22 21">
                                <path d="M12 4H3L2 20H18C17.7517 16.0273 17.375 10 17.375 10" stroke="currentColor" stroke-width="2"></path>
                                <path d="M7 7V7C7 8.65685 8.34315 10 10 10V10C11.6569 10 13 8.65685 13 7V7" stroke="currentColor" stroke-width="2"></path>
                                <path d="M18 0V8M14 4H22" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                        </button>
                    </div>
                    
                    <ap-popoverquickbuy id="product-{{ section.id }}-{{ product.id }}-popover" href="/products/{{ product.handle }}?view=ap-popoverquickbuy" class="popover popover--quick-buy hd-tablet-and-up"></ap-popoverquickbuy>
                    <ap-quickbuy id="product-{{ section.id }}-{{ product.id }}-drawer" href="/products/{{ product.handle }}?view=quick-buy-drawer" class="drawer drawer--large drawer--quick-buy hd-phone"></ap-quickbuy>
                </div>

                <ap-wishlistbutton class="btn-service btn-wishlist {% if template =='page.wishlist' %}deletewishlist{% endif %}"
                    data-action="add" data-id="{{ product.id }}" alt="Add to wishlist">
                    {% render 'icon-wishlist' %}
                    <span class="text-name">
                        Add to wishlist   
                    </span>
                </ap-wishlistbutton>
                
                <ap-comparebutton class="btn-service btn-compare {% if template =='page.compare' %}deletecompare{% endif %}"
                    data-action="add" data-id="{{ product.id }}" alt="Add to comparebutton">
                    {% render 'icon-compare' %}
                    <span class="text-name">
                        Add to compare
                    </span>  
                </ap-comparebutton>
            </div>

        </div>
    
        <div class="product-item__info  ">
            <div class="product-item-meta">
                
                {%- render 'product-ratting', product: product -%}
                
                <div class="type-product">{{ product.type }}</div>
            
                <a href="{{ product.url }}" class="product-item-meta__title">{{ product.title }}</a>
    
                {% render 'price-product-grid', product: product %}
                
                <div class="product-item-meta__swatch-list color-swatch-list color-swatch-list--mini">
                    {% liquid
                        assign options_color = ''
                        assign option_position = 0
                        assign is_checked = true
                        for option in product.options
                            assign optionName = option.name | handleize | downcase
                            if optionName contains 'colo'
                                assign options_color = option
                                assign option_position = 'option' | append: forloop.index
                            endif
                        endfor
                    %}
    
                    {% if settings.is_show_color %}
                        <div class="product-item-meta__swatch-list color-swatch-list color-swatch-list--mini">
                            {% for value in options_color.values %}
                                {% for variant in product.variants %}
                                    {% if variant[option_position] == value %}
                                        <div class="color-swatch ">
                                            <input class="color-swatch__radio visually-hidden" type="radio" name="template--{{ variant.id }}-{{ variant.featured_image.id }}-{{ forloop.index }}" id="template--{{ variant.id }}-{{ variant.featured_image.id }}-{{ forloop.index }}" value="{{ variant.title }}" {% if is_checked == 1 %}checked="checked"{% endif %} data-variant-id="{{ variant.id }}" data-variant-featured-media="{{ variant.featured_image.id }}">
                                            <label class="color-swatch__item" for="template--{{ value.id }}-{{ variant.featured_image.id }}-{{ forloop.index }}" style="background-color: #2F2F2F">
                                                <span class="visually-hidden">{{ value.name }}</span>
                                            </label>
                                        </div>
                                        {% assign is_checked = false %}
                                        {% break %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</product-item>