{{ 'featured-blog.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-template--14993172955344__16152178472dac1ead {--heading-color: 40, 40, 40;
    --heading-color: {{ section.settings.heading_color | color_extract: 'red' }}, {{ section.settings.heading_color | color_extract: 'green' }}, {{ section.settings.heading_color | color_extract: 'blue' }};
    --color-body: {{ section.settings.text_color | color_extract: 'red' }}, {{ section.settings.text_color | color_extract: 'green' }}, {{ section.settings.text_color | color_extract: 'blue' }};
    --section-background: {{ section.settings.section_background | color_extract: 'red' }}, {{ section.settings.section_background | color_extract: 'green' }}, {{ section.settings.section_background | color_extract: 'blue' }};
    --section-articles-count: {{ section.settings.columns_desktop }};
  }
  .blog-date ,
  .blog-author {
    color: {{ section.settings.color_info }};
    position: relative;
  }
  .article-item-description {
    color: {{ section.settings.color_description }};
  }
  .btn-blog {
    color: {{ section.settings.color_btn }};
  }
  .btn-blog:hover {
    color: {{ section.settings.color_btn_hover }};
  }
</style>

<section class="section ">
  <div class="section__color-wrapper">
    <div class="blog-template">
      <div class="container">
        {% if section.settings.heading != blank %}
          <header class="section__header ">
            <div class="text-container">
              <h3 class="heading h{{ section.settings.heading_size_range }}">{{ section.settings.heading }}</h3>
            </div>
            {% if section.settings.description %}
              <div class="heading-description {{ section.settings.description_size }}">
                {{ section.settings.description }}
              </div>
            {% endif %}
          </header>
        {% endif %}
        <div class="scroller">
            <div class="scroller__inner">
              {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
                {% liquid
                  render 'featured-blog-mobile'

                  case section.settings.blog_type
                    when "type-1"
                      render 'featured-blog-type-1'
                    when "type-2"
                      render 'featured-blog-type-2'
                    else
                      render 'featured-blog-type-1'
                  endcase
                %}
          
                {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
                  <div class="blog__view-all center small-hide medium-hide">
                    <a href="{{ section.settings.blog.url }}" id="ViewAll-{{ section.id }}" class="blog__button button" aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}">
                      {{ 'sections.featured_blog.view_all' | t }}
                    </a>
                  </div>
                {%- endif -%}
              {%- else -%}
                <div class="blog-placeholder">
                  <div class="placeholder media media--landscape">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  <div class="blog-placeholder__content">
                    <h2>
                      {{ 'sections.featured_blog.onboarding_title' | t }}
                    </h2>
                    <p class="rte-width">
                      {{ 'sections.featured_blog.onboarding_content' | t }}
                    </p>
                  </div>
                </div>
              {%- endif -%}
              
            </div>
          </div>
        </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section blog-section",
  "settings": [
    {
      "type": "select",
      "id": "blog_type",
      "options": [
        {
          "value": "type-1",
          "label": "t:sections.all.blog_type.options__1.label"
        },
        {
          "value": "type-2",
          "label": "t:sections.all.blog_type.options__2.label"
        }
      ],
      "default": "type-1",
      "label": "t:sections.all.blog_type.label"
    },
    {
      "type": "color",
      "id": "section_background",
      "default": "#ffffff",
      "label": "t:sections.all.section_background.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#282828",
      "label": "t:sections.all.heading_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.text_color.label"
    },
    {
      "type": "color",
      "id": "color_info",
      "default": "#282828",
      "label": "t:sections.all.color_info.label"
    },
    {
      "type": "color",
      "id": "color_description",
      "default": "#282828",
      "label": "t:sections.all.color_description.label"
    },
    {
      "type": "color",
      "id": "color_btn",
      "default": "#000",
      "label": "t:sections.all.color_btn.label"
    },
    {
      "type": "color",
      "id": "color_btn_hover",
      "default": "#282828",
      "label": "t:sections.all.color_btn_hover.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "range",
      "id": "heading_size_range",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1,
      "label": "t:sections.all.heading_size_range.label"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.all.description.label"
    },
    {
      "type": "select",
      "id": "description_size",
      "options": [
        {
          "value": "heading--xxsmall",
          "label": "t:sections.all.description_size.options__1.label"
        },
        {
          "value": "heading--xsmall",
          "label": "t:sections.all.description_size.options__2.label"
        },
        {
          "value": "heading--small",
          "label": "t:sections.all.description_size.options__3.label"
        },
        {
          "value": "",
          "label": "t:sections.all.description_size.options__4.label"
        },
        {
          "value": "heading--large",
          "label": "t:sections.all.description_size.options__5.label"
        }
      ],
      "default": "heading--xsmall",
      "label": "t:sections.all.description_size.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.all.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.all.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_tag",
      "default": true,
      "label": "t:sections.all.show_tag.label"
    },
    {
      "type": "text",
      "id": "btn_blog",
      "label": "t:sections.all.btn_blog.label",
      "default": "Read More"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.all.show_view_all.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
