{% style %}
    {% for block in section.blocks %}
        #block-{{ block.id }} {
            --section-dot-inner-background: {{ section.settings.dot_inner_background | color_extract: 'red' }}, {{ section.settings.dot_inner_background | color_extract: 'green' }}, {{ section.settings.dot_inner_background | color_extract: 'blue' }};
            --section-dot-background: {{ section.settings.dot_background | color_extract: 'red' }}, {{ section.settings.dot_background | color_extract: 'green' }}, {{ section.settings.dot_background | color_extract: 'blue' }};
        }
        {% if block.settings.product_1 %}
            #block-{{ block.id }}-1 {
                top: {{ block.settings.product_1_top }}%;
                left: {{ block.settings.product_1_left }}%;
            }
            @media screen and (max-width: 740px) {
                #block-{{ block.id }}-1 {
                    top: {{ block.settings.product_1_top_tablet }}%;
                    left: {{ block.settings.product_1_left_tablet }}%;
                }
            }
        {% endif %}
        {% if block.settings.product_2 %}
            #block-{{ block.id }}-2 {
                top: {{ block.settings.product_2_top }}%;
                left: {{ block.settings.product_2_left }}%;
            }
            @media screen and (max-width: 740px) {
                #block-{{ block.id }}-2 {
                    top: {{ block.settings.product_2_top_tablet }}%;
                    left: {{ block.settings.product_2_left_tablet }}%;
                }
            }
        {% endif %}
        {% if block.settings.product_3 %}
            #block-{{ block.id }}-3 {
                top: {{ block.settings.product_3_top }}%;
                left: {{ block.settings.product_3_left }}%;
            }
            @media screen and (max-width: 740px) {
                #block-{{ block.id }}-3 {
                    top: {{ block.settings.product_3_top_tablet }}%;
                    left: {{ block.settings.product_3_left_tablet }}%;
                }
            }
        {% endif %}
        {% if block.settings.product_4 %}
            #block-{{ block.id }}-4 {
                top: {{ block.settings.product_4_top }}%;
                left: {{ block.settings.product_4_left }}%;
            }
            @media screen and (max-width: 740px) {
                #block-{{ block.id }}-4 {
                    top: {{ block.settings.product_4_top_tablet }}%;
                    left: {{ block.settings.product_4_left_tablet }}%;
                }
            }
        {% endif %}
        {% if block.settings.product_5 %}
            #block-{{ block.id }}-5 {
                top: {{ block.settings.product_5_top }}%;
                left: {{ block.settings.product_5_left }}%;
            }
            @media screen and (max-width: 740px) {
                #block-{{ block.id }}-5 {
                    top: {{ block.settings.product_5_top_tablet }}%;
                    left: {{ block.settings.product_5_left_tablet }}%;
                }
            }
        {% endif %}
    {% endfor %}
    @media (max-width: 767px) {
      .ap-lookbookshop__product-wrapper {
        display: none;
      }
    }
{% endstyle %}

<section>
    <ap-lookbookshop reveal-on-scroll="" class="ap-lookbookshop ap-object-loaded" style="opacity: 1;">
        <div class="ap-lookbookshop__item-list">
            {% for block in section.blocks %}
                <ap-lookbookshop-item id="block-{{ block.id }}" class="ap-lookbookshop__item" {% if forloop.index != 1 %} hidden="" {% endif %}>
                    <div class="ap-lookbookshop__image-wrapper">
                        <img loading="lazy" sizes="100vw" reveal="" class="ap-lookbookshop__image hd-pocket" alt="" 
                            src="{{ block.settings.image_wrapper | image_url: width: block.settings.image_wrapper.width }}" 
                            srcset="
                                {%- if block.settings.image_wrapper.width >= 500 -%}{{ block.settings.image_wrapper | image_url: width: 500 }} 500w,{%- endif -%}
                                {%- if block.settings.image_wrapper.width >= 700 -%}{{ block.settings.image_wrapper | image_url: width: 700 }} 700w,{%- endif -%}
                                {%- if block.settings.image_wrapper.width >= 900 -%}{{ block.settings.image_wrapper | image_url: width: 900 }} 900w,{%- endif -%}
                                {%- if block.settings.image_wrapper.width >= 1100 -%}{{ block.settings.image_wrapper | image_url: width: 1100 }} 1100w,{%- endif -%}
                                {%- if block.settings.image_wrapper.width >= 1500 -%}{{ block.settings.image_wrapper | image_url: width: 1500 }} 1500w,{%- endif -%}
                                {%- if block.settings.image_wrapper.width >= 2000 -%}{{ block.settings.image_wrapper | image_url: width: 2000 }} 2000w,{%- endif -%}
                                {%- if block.settings.image_wrapper.width >= 2500 -%}{{ block.settings.image_wrapper | image_url: width: 2500 }} 2500w,{%- endif -%}
                                {{ block.settings.image_wrapper | image_url }} {{ block.settings.image_wrapper.width }}w
                            "
                            style="opacity: 1;" 
                            width="{{ block.settings.image_wrapper.width }}" height="{{ block.settings.image_wrapper.width }}">
                        <img loading="lazy" sizes="100vw" reveal="" class="ap-lookbookshop__image hd-lap-and-up" alt="" 
                            src="{{ block.settings.image_wrapper_tablet | image_url: width: block.settings.image_wrapper_tablet.width }}" 
                            srcset="
                                {%- if block.settings.image_wrapper_tablet.width >= 500 -%}{{ block.settings.image_wrapper_tablet | image_url: width: 500 }} 500w,{%- endif -%}
                                {%- if block.settings.image_wrapper_tablet.width >= 600 -%}{{ block.settings.image_wrapper_tablet | image_url: width: 600 }} 600w,{%- endif -%}
                                {%- if block.settings.image_wrapper_tablet.width >= 700 -%}{{ block.settings.image_wrapper_tablet | image_url: width: 700 }} 700w,{%- endif -%}
                                {%- if block.settings.image_wrapper_tablet.width >= 800 -%}{{ block.settings.image_wrapper_tablet | image_url: width: 800 }} 800w,{%- endif -%}
                                {%- if block.settings.image_wrapper_tablet.width >= 900 -%}{{ block.settings.image_wrapper_tablet | image_url: width: 900 }} 900w,{%- endif -%}
                                {%- if block.settings.image_wrapper_tablet.width >= 1000 -%}{{ block.settings.image_wrapper_tablet | image_url: width: 1000 }} 1000w,{%- endif -%}
                                {{ block.settings.image_wrapper_tablet | image_url }} {{ block.settings.image_wrapper_tablet.width }}w
                            "
                            style="opacity: 1;" width="{{ block.settings.image_wrapper_tablet.width }}" height="{{ block.settings.image_wrapper_tablet.width }}">
                    </div>
                    {% if block.settings.product_1 != null %}
                        <div id="block-{{ block.id }}-1" class="ap-lookbookshop__product-wrapper">
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-phone" ap-controlsaria="block-{{ block.id }}-1-product" ap-expanded-aria="{% if block.settings.product_1.product_1_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_1.title }}</span>
                            </button>
        
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-tablet-and-up" ap-controlsaria="block-{{ block.id }}-1-popover" ap-expanded-aria="{% if block.settings.product_1.product_1_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_1.title }}</span>
                            </button>
        
                            <ap-elementopen id="block-{{ block.id }}-1-product" class="ap-lookbookshop__product ap-lookbookshop__product--reverse hd-phone" {% if block.settings.product_1.product_1_show %}open=""{% endif %}>
                                <img class="ap-lookbookshop__product-image" loading="lazy" sizes="72px" alt="{{ block.settings.product_1.title }}" 
                                    src="{{ block.settings.product_1.featured_media | image_url: width: product.featured_media.width }}" 
                                    srcset="
                                        {%- if block.settings.product_1.featured_media >= 72 -%}{{ block.settings.product_1.featured_media | image_url: width: 72 }} 72w,{%- endif -%}
                                        {%- if block.settings.product_1.featured_media >= 144 -%}{{ block.settings.product_1.featured_media | image_url: width: 144 }} 144w,{%- endif -%}
                                        {%- if block.settings.product_1.featured_media >= 216 -%}{{ block.settings.product_1.featured_media | image_url: width: 216 }} 216w,{%- endif -%}
                                        {%- if block.settings.product_1.featured_media >= 288 -%}{{ block.settings.product_1.featured_media | image_url: width: 288 }} 288w,{%- endif -%}
                                    "
                                    width="{{ block.settings.product_1.featured_media.width }}" height="{{ block.settings.product_1.featured_media.width }}">
                                <div class="ap-lookbookshop__product-info">
                                    <a href="/products/{{ block.settings.product_1.handle }}" class="ap-lookbookshop__product-title">{{ block.settings.product_1.title }}</a>
        
                                    <div class="ap-lookbookshop__product-bottom-wrapper">
                                        <span class="price">
                                            <span class="visually-hidden">Sale price</span>{{ block.settings.product_1.price | money }}
                                        </span>
                                        <button is="toggle-button" class="ap-lookbookshop__product-link link text--subdued" ap-controlsaria="block-{{ block.id }}-1-drawer" ap-expanded-aria="{% if block.settings.product_1.product_1_show %}true{% else %}false{% endif %}">Quick view</button>
                                    </div>
                                </div>
                            </ap-elementopen>
  
                            <ap-popoverquickbuy href="/products/{{ block.settings.product_1.handle }}?view=ap-popoverquickbuy" id="block-{{ block.id }}-1-popover" class="popover popover--quick-buy"></ap-popoverquickbuy>
                            <ap-quickbuy href="/products/{{ block.settings.product_1.handle }}?view=quick-buy-drawer" id="block-{{ block.id }}-1-drawer" class="drawer drawer--large drawer--quick-buy"></ap-quickbuy>
                        </div>
                    {% endif %}
                    {% if block.settings.product_2 != null %}
                        <div id="block-{{ block.id }}-2" class="ap-lookbookshop__product-wrapper">
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-phone" ap-controlsaria="block-{{ block.id }}-2-product" ap-expanded-aria="{% if block.settings.product_2.product_2_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_2.title }}</span>
                            </button>
                    
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-tablet-and-up" ap-controlsaria="block-{{ block.id }}-2-popover" ap-expanded-aria="{% if block.settings.product_2.product_2_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_2.title }}</span>
                            </button>
                    
                            <ap-elementopen id="block-{{ block.id }}-2-product" class="ap-lookbookshop__product ap-lookbookshop__product--reverse hd-phone" {% if block.settings.product_2.product_2_show %}open=""{% endif %}>
                                <img class="ap-lookbookshop__product-image" loading="lazy" sizes="72px" alt="{{ block.settings.product_2.title }}" 
                                    src="{{ block.settings.product_2.featured_media | image_url: width: product.featured_media.width }}" 
                                    srcset="
                                        {%- if block.settings.product_2.featured_media >= 72 -%}{{ block.settings.product_2.featured_media | image_url: width: 72 }} 72w,{%- endif -%}
                                        {%- if block.settings.product_2.featured_media >= 144 -%}{{ block.settings.product_2.featured_media | image_url: width: 144 }} 144w,{%- endif -%}
                                        {%- if block.settings.product_2.featured_media >= 216 -%}{{ block.settings.product_2.featured_media | image_url: width: 216 }} 216w,{%- endif -%}
                                        {%- if block.settings.product_2.featured_media >= 288 -%}{{ block.settings.product_2.featured_media | image_url: width: 288 }} 288w,{%- endif -%}
                                    "
                                    width="{{ block.settings.product_2.featured_media.width }}" height="{{ block.settings.product_2.featured_media.width }}">
                                <div class="ap-lookbookshop__product-info">
                                    <a href="/products/{{ block.settings.product_2.handle }}" class="ap-lookbookshop__product-title">{{ block.settings.product_2.title }}</a>
                    
                                    <div class="ap-lookbookshop__product-bottom-wrapper">
                                        <span class="price">
                                            <span class="visually-hidden">Sale price</span>{{ block.settings.product_2.price | money }}
                                        </span>
                                        <button is="toggle-button" class="ap-lookbookshop__product-link link text--subdued" ap-controlsaria="block-{{ block.id }}-2-drawer" ap-expanded-aria="{% if block.settings.product_2.product_2_show %}true{% else %}false{% endif %}">Quick view</button>
                                    </div>
                                </div>
                            </ap-elementopen>
                    
                            <ap-popoverquickbuy href="/products/{{ block.settings.product_2.handle }}?view=ap-popoverquickbuy" id="block-{{ block.id }}-2-popover" class="popover popover--quick-buy"></ap-popoverquickbuy>
                            <ap-quickbuy href="/products/{{ block.settings.product_2.handle }}?view=quick-buy-drawer" id="block-{{ block.id }}-2-drawer" class="drawer drawer--large drawer--quick-buy"></ap-quickbuy>
                        </div>
                    {% endif %}
                    {% if block.settings.product_3 != null %}
                        <div id="block-{{ block.id }}-3" class="ap-lookbookshop__product-wrapper">
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-phone" ap-controlsaria="block-{{ block.id }}-3-product" ap-expanded-aria="{% if block.settings.product_3.product_3_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_3.title }}</span>
                            </button>
                    
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-tablet-and-up" ap-controlsaria="block-{{ block.id }}-3-popover" ap-expanded-aria="{% if block.settings.product_3.product_3_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_3.title }}</span>
                            </button>
                    
                            <ap-elementopen id="block-{{ block.id }}-3-product" class="ap-lookbookshop__product ap-lookbookshop__product--reverse hd-phone" {% if block.settings.product_3.product_3_show %}open=""{% endif %}>
                                <img class="ap-lookbookshop__product-image" loading="lazy" sizes="72px" alt="{{ block.settings.product_3.title }}" 
                                    src="{{ block.settings.product_3.featured_media | image_url: width: product.featured_media.width }}" 
                                    srcset="
                                        {%- if block.settings.product_3.featured_media >= 72 -%}{{ block.settings.product_3.featured_media | image_url: width: 72 }} 72w,{%- endif -%}
                                        {%- if block.settings.product_3.featured_media >= 144 -%}{{ block.settings.product_3.featured_media | image_url: width: 144 }} 144w,{%- endif -%}
                                        {%- if block.settings.product_3.featured_media >= 216 -%}{{ block.settings.product_3.featured_media | image_url: width: 216 }} 216w,{%- endif -%}
                                        {%- if block.settings.product_3.featured_media >= 288 -%}{{ block.settings.product_3.featured_media | image_url: width: 288 }} 288w,{%- endif -%}
                                    "
                                    width="{{ block.settings.product_3.featured_media.width }}" height="{{ block.settings.product_3.featured_media.width }}">
                                <div class="ap-lookbookshop__product-info">
                                    <a href="/products/{{ block.settings.product_3.handle }}" class="ap-lookbookshop__product-title">{{ block.settings.product_3.title }}</a>
                    
                                    <div class="ap-lookbookshop__product-bottom-wrapper">
                                        <span class="price">
                                            <span class="visually-hidden">Sale price</span>{{ block.settings.product_3.price | money }}
                                        </span>
                                        <button is="toggle-button" class="ap-lookbookshop__product-link link text--subdued" ap-controlsaria="block-{{ block.id }}-3-drawer" ap-expanded-aria="{% if block.settings.product_3.product_3_show %}true{% else %}false{% endif %}">Quick view</button>
                                    </div>
                                </div>
                            </ap-elementopen>
                    
                            <ap-popoverquickbuy href="/products/{{ block.settings.product_3.handle }}?view=ap-popoverquickbuy" id="block-{{ block.id }}-3-popover" class="popover popover--quick-buy"></ap-popoverquickbuy>
                            <ap-quickbuy href="/products/{{ block.settings.product_3.handle }}?view=quick-buy-drawer" id="block-{{ block.id }}-3-drawer" class="drawer drawer--large drawer--quick-buy"></ap-quickbuy>
                        </div>
                    {% endif %}
                    {% if block.settings.product_4 != null %}
                        <div id="block-{{ block.id }}-4" class="ap-lookbookshop__product-wrapper">
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-phone" ap-controlsaria="block-{{ block.id }}-4-product" ap-expanded-aria="{% if block.settings.product_4.product_4_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_4.title }}</span>
                            </button>
                      
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-tablet-and-up" ap-controlsaria="block-{{ block.id }}-4-popover" ap-expanded-aria="{% if block.settings.product_4.product_4_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_4.title }}</span>
                            </button>
                      
                            <ap-elementopen id="block-{{ block.id }}-4-product" class="ap-lookbookshop__product ap-lookbookshop__product--reverse hd-phone" {% if block.settings.product_4.product_4_show %}open=""{% endif %}>
                                <img class="ap-lookbookshop__product-image" loading="lazy" sizes="72px" alt="{{ block.settings.product_4.title }}" 
                                    src="{{ block.settings.product_4.featured_media | image_url: width: product.featured_media.width }}" 
                                    srcset="
                                        {%- if block.settings.product_4.featured_media >= 72 -%}{{ block.settings.product_4.featured_media | image_url: width: 72 }} 72w,{%- endif -%}
                                        {%- if block.settings.product_4.featured_media >= 144 -%}{{ block.settings.product_4.featured_media | image_url: width: 144 }} 144w,{%- endif -%}
                                        {%- if block.settings.product_4.featured_media >= 216 -%}{{ block.settings.product_4.featured_media | image_url: width: 216 }} 216w,{%- endif -%}
                                        {%- if block.settings.product_4.featured_media >= 288 -%}{{ block.settings.product_4.featured_media | image_url: width: 288 }} 288w,{%- endif -%}
                                    "
                                    width="{{ block.settings.product_4.featured_media.width }}" height="{{ block.settings.product_4.featured_media.width }}">
                                <div class="ap-lookbookshop__product-info">
                                    <a href="/products/{{ block.settings.product_4.handle }}" class="ap-lookbookshop__product-title">{{ block.settings.product_4.title }}</a>
                      
                                    <div class="ap-lookbookshop__product-bottom-wrapper">
                                        <span class="price">
                                            <span class="visually-hidden">Sale price</span>{{ block.settings.product_4.price | money }}
                                        </span>
                                        <button is="toggle-button" class="ap-lookbookshop__product-link link text--subdued" ap-controlsaria="block-{{ block.id }}-4-drawer" ap-expanded-aria="{% if block.settings.product_4.product_4_show %}true{% else %}false{% endif %}">Quick view</button>
                                    </div>
                                </div>
                            </ap-elementopen>
                      
                            <ap-popoverquickbuy href="/products/{{ block.settings.product_4.handle }}?view=ap-popoverquickbuy" id="block-{{ block.id }}-4-popover" class="popover popover--quick-buy"></ap-popoverquickbuy>
                            <ap-quickbuy href="/products/{{ block.settings.product_4.handle }}?view=quick-buy-drawer" id="block-{{ block.id }}-4-drawer" class="drawer drawer--large drawer--quick-buy"></ap-quickbuy>
                        </div>
                      {% endif %}
                      {% if block.settings.product_5 != null %}
                        <div id="block-{{ block.id }}-5" class="ap-lookbookshop__product-wrapper">
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-phone" ap-controlsaria="block-{{ block.id }}-5-product" ap-expanded-aria="{% if block.settings.product_5.product_5_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_5.title }}</span>
                            </button>
                      
                            <button type="button" is="toggle-button" reveal="" class="ap-lookbookshop__dot tap-area hd-tablet-and-up" ap-controlsaria="block-{{ block.id }}-5-popover" ap-expanded-aria="{% if block.settings.product_5.product_5_show %}true{% else %}false{% endif %}" style="opacity: 1;">
                                <span class="visually-hidden">{{ block.settings.product_5.title }}</span>
                            </button>
                      
                            <ap-elementopen id="block-{{ block.id }}-5-product" class="ap-lookbookshop__product ap-lookbookshop__product--reverse hd-phone" {% if block.settings.product_5.product_5_show %}open=""{% endif %}>
                                <img class="ap-lookbookshop__product-image" loading="lazy" sizes="72px" alt="{{ block.settings.product_5.title }}" 
                                    src="{{ block.settings.product_5.featured_media | image_url: width: product.featured_media.width }}" 
                                    srcset="
                                        {%- if block.settings.product_5.featured_media >= 72 -%}{{ block.settings.product_5.featured_media | image_url: width: 72 }} 72w,{%- endif -%}
                                        {%- if block.settings.product_5.featured_media >= 144 -%}{{ block.settings.product_5.featured_media | image_url: width: 144 }} 144w,{%- endif -%}
                                        {%- if block.settings.product_5.featured_media >= 216 -%}{{ block.settings.product_5.featured_media | image_url: width: 216 }} 216w,{%- endif -%}
                                        {%- if block.settings.product_5.featured_media >= 288 -%}{{ block.settings.product_5.featured_media | image_url: width: 288 }} 288w,{%- endif -%}
                                    "
                                    width="{{ block.settings.product_5.featured_media.width }}" height="{{ block.settings.product_5.featured_media.width }}">
                                <div class="ap-lookbookshop__product-info">
                                    <a href="/products/{{ block.settings.product_5.handle }}" class="ap-lookbookshop__product-title">{{ block.settings.product_5.title }}</a>
                      
                                    <div class="ap-lookbookshop__product-bottom-wrapper">
                                        <span class="price">
                                            <span class="visually-hidden">Sale price</span>{{ block.settings.product_5.price | money }}
                                        </span>
                                        <button is="toggle-button" class="ap-lookbookshop__product-link link text--subdued" ap-controlsaria="block-{{ block.id }}-5-drawer" ap-expanded-aria="{% if block.settings.product_5.product_5_show %}true{% else %}false{% endif %}">Quick view</button>
                                    </div>
                                </div>
                            </ap-elementopen>
                      
                            <ap-popoverquickbuy href="/products/{{ block.settings.product_5.handle }}?view=ap-popoverquickbuy" id="block-{{ block.id }}-5-popover" class="popover popover--quick-buy"></ap-popoverquickbuy>
                            <ap-quickbuy href="/products/{{ block.settings.product_5.handle }}?view=quick-buy-drawer" id="block-{{ block.id }}-5-drawer" class="drawer drawer--large drawer--quick-buy"></ap-quickbuy>
                        </div>
                      {% endif %}
                </ap-lookbookshop-item>
            {% endfor %}
            
        </div>

        <div class="container">
            <ap-lookbookshopnav reveal="" class="ap-lookbookshop__nav">
                <span class="ap-lookbookshop__label heading heading--small hd-pocket">Define your style</span>
                <div class="ap-lookbookshop__ap-button-nextprev">
                    {% assign _size = section.blocks | size %}
                    {% if _size > 1 %}
                        <button class="ap-lookbookshop__arrow ap-nextap-buttonprev ap-nextap-buttonprev--prev" data-action="prev">
                            <span class="visually-hidden">Previous</span>
                            <svg focusable="false" width="17" height="14" class="icon icon--nav-arrow-left  icon--direction-aware " viewBox="0 0 17 14">
                                <path d="M17 7H2M8 1L2 7l6 6" stroke="currentColor" stroke-width="2" fill="none"></path>
                            </svg>
                        </button>
                    {% endif %}
                    <span class="ap-lookbookshop__counter hd-pocket">
                        <span class="ap-lookbookshop__counter-page">
                            <span class="ap-lookbookshop__counter-page-base">1</span>
                            {% for block in section.blocks %}
                                <span class="ap-lookbookshop__counter-page-transition" {% if forloop.index != 1 %}hidden=""{% endif %}>{{ forloop.index }}</span>
                            {% endfor %}
                        </span>
                        <span class="ap-lookbookshop__counter-separator">/</span>
                        <span class="ap-lookbookshop__counter-total">{{ _size }}</span>
                    </span>
                    {% if _size > 1 %}
                        <button class="ap-lookbookshop__arrow ap-nextap-buttonprev ap-nextap-buttonprev--next" data-action="next">
                            <span class="visually-hidden">Next</span>
                            <svg focusable="false" width="17" height="14" class="icon icon--nav-arrow-right  icon--direction-aware " viewBox="0 0 17 14">
                                <path d="M0 7h15M9 1l6 6-6 6" stroke="currentColor" stroke-width="2" fill="none"></path>
                            </svg>
                        </button>
                    {% endif %}
                </div>
            </ap-lookbookshopnav>
        </div>
    </ap-lookbookshop>
</section>

{% schema %}
{
  "name": "Look Book",
  "class": "shopify-section--ap-lookbookshop",
  "tag": "section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "color",
      "id": "dot_inner_background",
      "default": "#282828",
      "label": "t:sections.all.dot_inner_background.label"
    },
    {
      "type": "color",
      "id": "dot_background",
      "default": "#ffffff",
      "label": "t:sections.all.dot_background.label"
    }
  ],
  "blocks": [
    {
      "type": "look_book_item",
      "name": "Look Book Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_wrapper",
          "label": "t:sections.all.image_wrapper.label"
        },
        {
          "type": "image_picker",
          "id": "image_wrapper_tablet",
          "label": "t:sections.all.image_wrapper_tablet.label"
        },
        {
          "type": "header",
          "content": "Product 1 settings"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "t:sections.all.product_1.label"
        },
        {
          "type": "checkbox",
          "id": "product_1_show",
          "default": false,
          "label": "t:sections.all.product_1_show.label"
        },
        {
          "type": "range",
          "id": "product_1_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_1_top.label"
        },
        {
          "type": "range",
          "id": "product_1_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_1_left.label"
        },
        {
          "type": "range",
          "id": "product_1_top_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_1_top_tablet.label"
        },
        {
          "type": "range",
          "id": "product_1_left_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_1_left_tablet.label"
        },
        {
          "type": "header",
          "content": "Product 2 settings"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "t:sections.all.product_2.label"
        },
        {
          "type": "checkbox",
          "id": "product_2_show",
          "default": false,
          "label": "t:sections.all.product_2_show.label"
        },
        {
          "type": "range",
          "id": "product_2_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_2_top.label"
        },
        {
          "type": "range",
          "id": "product_2_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_2_left.label"
        },
        {
          "type": "range",
          "id": "product_2_top_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_2_top_tablet.label"
        },
        {
          "type": "range",
          "id": "product_2_left_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_2_left_tablet.label"
        },
        {
          "type": "header",
          "content": "Product 3 settings"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "t:sections.all.product_3.label"
        },
        {
          "type": "checkbox",
          "id": "product_3_show",
          "default": false,
          "label": "t:sections.all.product_3_show.label"
        },
        {
          "type": "range",
          "id": "product_3_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_3_top.label"
        },
        {
          "type": "range",
          "id": "product_3_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_3_left.label"
        },
        {
          "type": "range",
          "id": "product_3_top_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_3_top_tablet.label"
        },
        {
          "type": "range",
          "id": "product_3_left_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_3_left_tablet.label"
        },
        {
          "type": "header",
          "content": "Product 4 settings"
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "t:sections.all.product_4.label"
        },
        {
          "type": "checkbox",
          "id": "product_4_show",
          "default": false,
          "label": "t:sections.all.product_4_show.label"
        },
        {
          "type": "range",
          "id": "product_4_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_4_top.label"
        },
        {
          "type": "range",
          "id": "product_4_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_4_left.label"
        },
        {
          "type": "range",
          "id": "product_4_top_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_4_top_tablet.label"
        },
        {
          "type": "range",
          "id": "product_4_left_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_4_left_tablet.label"
        },
        {
          "type": "header",
          "content": "Product 5 settings"
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "t:sections.all.product_5.label"
        },
        {
          "type": "checkbox",
          "id": "product_5_show",
          "default": false,
          "label": "t:sections.all.product_5_show.label"
        },
        {
          "type": "range",
          "id": "product_5_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_5_top.label"
        },
        {
          "type": "range",
          "id": "product_5_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_5_left.label"
        },
        {
          "type": "range",
          "id": "product_5_top_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_5_top_tablet.label"
        },
        {
          "type": "range",
          "id": "product_5_left_tablet",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%",
          "label": "t:sections.all.product_5_left_tablet.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Look Book",
      "blocks": [
        {
          "type": "look_book_item"
        }
      ]
    }
  ]
}
{% endschema %}