{{ 'newsletter.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} {
    --heading-color: {{ section.settings.heading_color | color_extract: 'red' }}, {{ section.settings.heading_color | color_extract: 'green' }}, {{ section.settings.heading_color | color_extract: 'blue' }};
    --color-body: {{ section.settings.text_color | color_extract: 'red' }}, {{ section.settings.text_color | color_extract: 'green' }}, {{ section.settings.text_color | color_extract: 'blue' }};
    --primary-button-background: {{ section.settings.button_background | color_extract: 'red' }}, {{ section.settings.button_background | color_extract: 'green' }}, {{ section.settings.button_background | color_extract: 'blue' }};
    --primary-button-text-color: {{ section.settings.button_color | color_extract: 'red' }}, {{ section.settings.button_color | color_extract: 'green' }}, {{ section.settings.button_color | color_extract: 'blue' }};
    --section-block-background: {{ section.settings.section_background | color_extract: 'red' }}, {{ section.settings.section_background | color_extract: 'green' }}, {{ section.settings.section_background | color_extract: 'blue' }};
  }
  #shopify-section-{{ section.id }} {
    background-color: rgb(var(--section-block-background));
  }
  [dir=ltr] .wp-newsletter-input .input__label {
    --form-input-field-height: 36px;
  }
</style>

<section class="section section--flush newsletter">
  
    {% comment %} {% if section.settings.image_background != blank %}
    <div class="ap-imagetextblock__image-wrapper">
      <img class="ap-imagetextblock__image" reveal="" loading="lazy" 
        sizes="(max-width: 999px) 100vw, 72vw" alt="" 
        src="{{ section.settings.image_background | image_url: width: section.settings.image_background.width }}" 
        srcset="
          {{ section.settings.image_background | image_url: width: 600 }} 600w, 
          {{ section.settings.image_background | image_url: width: 700 }} 700w, 
          {{ section.settings.image_background | image_url: width: 800 }} 800w, 
          {{ section.settings.image_background | image_url: width: 1000 }} 1000w, 
          {{ section.settings.image_background | image_url: width: 1200 }} 1200w, 
          {{ section.settings.image_background | image_url: width: 1400 }} 1400w, 
          {{ section.settings.image_background | image_url: width: 1600 }} 1600w, 
          {{ section.settings.image_background | image_url: width: 1800 }} 1800w, 
          {{ section.settings.image_background | image_url: width: 2000 }} 2000w" 
        width="{{ section.settings.image_background.width }}" height="{{ section.settings.image_background.height }}">
    </div>
    {% endif %} {% endcomment %}
    

  <div>
    {% liquid 
      case section.settings.blog_type
      when "type-1"
        render 'featured-newsletter-type-1'
      when "type-2"
        render 'featured-newsletter-type-2'
      else
        render 'featured-newsletter-type-1'
      endcase
    %}
  </div>
  
</section>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section newsletter-section",
  "settings": [
    {
      "type": "select",
      "id": "blog_type",
      "options": [
        {
          "value": "type-1",
          "label": "t:sections.all.blog_type.options__1.label"
        },
        {
          "value": "type-2",
          "label": "t:sections.all.blog_type.options__2.label"
        }
      ],
      "default": "type-1",
      "label": "t:sections.all.blog_type.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full",
      "label": "Layout"
    },
    {
      "type": "color",
      "id": "section_background",
      "default": "#ffffff ",
      "label": "t:sections.all.section_background.label"
    },
    {
      "type": "image_picker",
      "id": "image_background",
      "label": "t:sections.all.image_background.label"
    },
    {
          "type": "liquid",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "icon_button",
          "label":"Enable icon",
          "default": false
        },
        {
          "type": "range",
          "id": "heading_text_size",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1,
          "label": "t:sections.all.heading_text_size.label"
        },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#282828",
      "label": "t:sections.all.heading_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#282828",
      "label": "t:sections.all.text_color.label"
    },
    {
      "type": "color",
      "id": "button_background",
      "default": "#405DE6 ",
      "label": "t:sections.all.button_background.label"
    },
    {
      "type": "color",
      "id": "button_color",
      "default": "#ffffff ",
      "label": "t:sections.all.button_color.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "liquid",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
          "type": "range",
          "id": "heading_text_size",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1,
          "label": "t:sections.all.heading_text_size.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "liquid",
          "id": "text",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "liquid",
          "id": "description",
          "default": "Be the first to know about new collections and exclusive offers",
          "label": "t:sections.all.description.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
