{{ 'text-with-icon.css' | asset_url | stylesheet_tag }}

<style>
    #shopify-section-{{ section.id }} {
        --heading-color: 40, 40, 40;
        --color-body: {{ section.settings.title_color }};
        --title-color: {{ section.settings.text_color }};
        {% comment %} --vertical-breather: 40px; /* Inner spacing is smaller on this section */; {% endcomment %}
        background-color: {{ section.settings.section_background }};
        overflow: hidden;
      --gradient-base-accent-2: {% if section.settings.gradient_accent_2 != blank %}{{ section.settings.gradient_accent_2 }}{% else %}{{ settings.colors_accent_2 }}{% endif %};
    }    
</style>
<section class="section section--flush">
    <div class="section__color-wrapper">
        <div class="container vertical-breather">
          <div class="content_textwithicon" style="text-align:center;">
            {% if section.settings.caption != blank %}
              <h2 class="heading heading--small" style="color: var(--primary);">{{ section.settings.caption }}</h2>
            {% endif %}
            {% if section.settings.heading != blank %}
              <h3 class="heading h{{ section.settings.heading_size_range }}" style="line-height:3rem">{{ section.settings.heading }}</h3>
            {% endif %}
            {% if section.settings.description != blank %}
              <p class="">{{ section.settings.description }}</p>
            {% endif %}
          </div>
            <ap-carousel class="text-with-icons">
                <div class="text-with-icons__list hide-scrollbar">
                    {% for block in section.blocks %}
                        <ap-carousel-item id="block-{{ block.id }}" class="text-with-icons__item" {% if forloop.index != 1 %}hidden=""{% endif %}>
                            <div class="text-with-icons__icon-wrapper">
                                {% if block.settings.custom_icon != blank %}
                                    {{ block.settings.custom_icon }}
                                {% else %}
                                    {% render 'icons', svg_icon: block.settings.svg_icon %}
                                {% endif %}
                            </div>
                            <div class="text-with-icons__content-wrapper">
                                <p class="heading {{ block.settings.heading_size }} title-icon ">{{ block.settings.heading }}</p>
                                <p class="description-icon">{{ block.settings.content }}</p>
                            </div>
                        </ap-carousel-item>
                        {%- if section.settings.show_button_arrow -%}
                          <div class="arrow-step">
                            <svg width="90" height="26" viewBox="0 0 90 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M6 13C6 14.6569 4.65685 16 3 16C1.34315 16 0 14.6569 0 13C0 11.3431 1.34315 10 3 10C4.65685 10 6 11.3431 6 13Z" fill="#DBDDE3"/>
                              <path d="M22 13C22 14.6569 20.6569 16 19 16C17.3431 16 16 14.6569 16 13C16 11.3431 17.3431 10 19 10C20.6569 10 22 11.3431 22 13Z" fill="#DBDDE3"/>
                              <path d="M38 13C38 14.6569 36.6569 16 35 16C33.3431 16 32 14.6569 32 13C32 11.3431 33.3431 10 35 10C36.6569 10 38 11.3431 38 13Z" fill="#DBDDE3"/>
                              <path d="M54 13C54 14.6569 52.6569 16 51 16C49.3431 16 48 14.6569 48 13C48 11.3431 49.3431 10 51 10C52.6569 10 54 11.3431 54 13Z" fill="#DBDDE3"/>
                              <circle cx="77" cy="13" r="12.25" stroke="#DBDDE3" stroke-width="1.5"/>
                              <path d="M81 13L75 17L75 9L81 13Z" fill="#7000FE"/>
                              </svg>
                          </div>
                        {%- endif -%}
                    {% endfor %}
                </div>
                <ap-pagedots class="text-with-icons__dots dots-nav dots-nav--centered hd-lap-and-up">
                    {% for block in section.blocks %}
                        <button class="dots-nav__item tap-area" {% if forloop.index == 1 %}ap-currentaria="true{% else %}ap-currentaria="false"{% endif %}">
                            <span class="visually-hidden">Go to slide {{ forloop.index }}</span>
                        </button>
                    {% endfor %}
                </ap-pagedots>
            </ap-carousel>
        </div>
    </div>
</section>
  

{% schema %}
{
  "name": "Text with icons",
  "tag": "section",
  "class": "shopify-section--text-with-icons",
  "settings": [
    {
      "type": "color",
      "id": "section_background",
      "default": "#F5A44A",
      "label": "t:sections.all.section_background.label"
    },
    {
          "type": "richtext",
          "id": "caption",
          "default": "<p>Talk about your brand</p>",
          "label": "Caption"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "Caption Size"
        },
    {
      "type": "text",
      "id": "heading",
      "default": "Testimonial",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#282828",
      "label": "t:sections.all.heading_color.label"
    },
    {
        "id": "gradient_accent_2",
        "type": "color_background",
        "label": "Gradient color"
      },
    {
      "type": "range",
      "id": "heading_size_range",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2,
      "label": "t:sections.all.heading_size_range.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.all.description.label"
    },
    {
      "type": "color",
      "id": "title_color",
      "default": "#ffffff",
      "label": "t:sections.all.title_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#282828",
      "label": "t:sections.all.text_color.label"
    },
    {
      "type": "color",
      "id": "prev_next_button_background",
      "default": "#FFFFFF",
      "label": "t:sections.all.prev_next_button_background.label"
    },
    {
      "type": "color",
      "id": "prev_next_button_color",
      "default": "#282828",
      "label": "t:sections.all.prev_next_button_color.label"
    },
    {
      "type": "checkbox",
      "id":"show_button_arrow",
      "default": false,
      "label": "Show button beside"
    }
  ],
  "blocks": [
    {
      "type": "text-with-icon",
      "name": "Text with icons",
      "settings": [
        {
          "type": "select",
          "id": "svg_icon",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value":"icon-connect",
              "label": "Connect"
            },
            {
              "value":"icon-customer",
              "label": "Customer"
            },
            {
              "value":"icon-printes",
              "label": "Printes"
            },
            {
              "value":"icon-order",
              "label": "Order"
            },
            {
              "value": "icon-worldwide",
              "label": "Worldwide"
            },
            {
              "value": "icon-customer-support",
              "label": "Customer support"
            },
            {
              "value": "icon-wrapper",
              "label": "Wrapper"
            },
            {
              "value": "icon-chat",
              "label": "Chat"
            },
            {
              "value": "icon-love",
              "label": "Love"
            },
            {
              "value": "icon-email",
              "label": "Email"
            },
            {
              "value": "icon-plane",
              "label": "Plane"
            },
            {
              "value": "icon-warranty",
              "label": "Warranty"
            }
          ],
          "default": "",
          "label": "Select icon"
        },
        {
          "type": "textarea",
          "id": "custom_icon",
          "label": "t:sections.all.custom_icon.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Text sample",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "heading--xxsmall",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "heading--xsmall",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "heading--small",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "heading--large",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "heading--small",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "textarea",
          "id": "content",
          "default": "Testimonial content",
          "label": "t:sections.all.content.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with icons",
      "blocks": [
        {
          "type": "text-with-icon"
        },
        {
          "type": "text-with-icon"
        },
        {
          "type": "text-with-icon"
        },
        {
          "type": "text-with-icon"
        }
      ]
    }
  ]
}
{% endschema %}
